@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.parallax {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  opacity: .8;
  
  /* for header */
  position: relative;
}

.bg1 {
  background-image: url("https://unsplash.it/g/1920/1080?random");
  height: 100vh;
}

.bg2 {
  background-image: url("https://unsplash.it/1920/1081?random");
  height: 40vh;
}

.bg3 {
  background-image: url("https://unsplash.it/1920/1082?random");
  height: 60vh;
}

h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.header {
  text-align: center;
  text-transform: uppercase;
  background-color: #02FFE9;
}

.header h1 {
  color: #1d1d1d;
}

.parallax h1 {
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 1em;
  padding-left: 2em;
  background-color: #1d1d1d;
}

.content {
  padding: 2em;
  background-color: #FFEE00;
  color: #1d1d1d;
}

.acknowledge {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: .8rem;
  color: white;
}