@font-face {
  font-family: 'MyFont';
  src: url('./garamond_regular.ttf'),
    url('./impact_label.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background-image: url('../images/favIcon.ico');
}